section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 26rem;
  width: 100%;

  div {
    display: flex;
    flex-direction: column;
    width: 100%;

    .logo-image {
      width: 100%;
      margin: 0 auto;
      height: 14rem;
      padding-bottom: 2.5rem;
      object-fit: contain;
      cursor: pointer;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        padding-left: 1.5rem;
        padding-bottom: 0.4rem;
        font-size: var(--font-medium);
        font-weight: 500;
        color: var(--purple-five);
      }

      input {
        height: 4rem;
        margin-bottom: 1.5rem;
        padding: 1rem 1.5rem;
        border: solid 0.2rem transparent;
        border-radius: 1rem;
        background-color: var(--purple-field);
        font-family: var(--font);
        font-size: var(--font-medium);

        &:focus {
          outline: none;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      .inp--true:focus {
        border-color: var(--color-green); 
      }
      .inp--err {
        border-color: var(--color-err); 
      }
      #file {
        display: none;
      }
      .btnFile {
        height: 5rem;
        background-color: var(--purple-four);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        color: white;
        cursor: pointer;

        &:hover {
          transform: scale(1.05) translateX(0);
        }
      }
      .btn__login {
        margin-top: 2rem;
          width: 100%;           
          height: 5rem;
          border: 0.2rem solid transparent;
          border-radius: 1rem;
          font-size: var(--font-big);
          background-color: var(--purple-four);
          color: white;
  
          &:hover:not(.inactive) {
            border-color: var(--purple-four);
            background-color: var(--purple-one);
            font-weight: 600;
            color: var(--purple-four);
          }
  
          &.inactive:disabled {
            background-color: lightgray;
            color: darkgray;
            cursor: not-allowed;
          }
      }    
      .btn__logout {
        margin: 2rem auto 0 auto;
        text-align: center;
        font-weight: 500;
        font-size: var(--font-small);
        text-decoration: none;
        color: var(--purple-four);
        cursor: pointer;
        
        &:hover {
            transform: scale(1.2) translateX(0);
        }
      }
      .tru--msg {
        margin: 2rem auto 0 auto;
        font-size: var(--font-medium);
        font-weight: 500;
        color: var(--color-green);
      }
      .err--msg {
        margin: 2rem auto 0 auto;
        font-size: var(--font-medium);
        font-weight: 500;
        color: var(--color-err);
      }
    }
  }
}