@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    // TEXT
    --font: 'Fredoka', sans-serif;
    --font-small: 1.4rem;
    --font-medium: 1.6rem;
    --font-big: 1.8rem;
    --font-title-small: 2.4rem;
    --font-title-big: 2.8rem;

    // COLORS
    --white: #FFFFFF
    --text-inputl-field: #F7F7F7
    --very-like-pink: #C7C7C7;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --black: #000000;

    --purple: #391168;
    --purple-two: #681FBD;
    --purple-three: #290c4b
    --purple-four: #E7D8F9;
    --purple-five: #564171;

    --pink: #DA3C64
    --pink-two: #E597A8;
}