@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

:root {
    // TEXT
    --font: 'Fredoka', sans-serif;
    --font-small: 1.4rem;
    --font-medium: 1.6rem;
    --font-big: 1.8rem;
    --font-title-small: 2.2rem;
    --font-title-medium: 2.4rem;
    --font-title-big: 2.8rem;

    // COLORS
    --white: #FFFFFF
    --dark: #232830;
    --black: #000000;

    --color-green: #9BD80A;
    --color-err: #cb3234;

    --purple-field: #ECECEC;
    --light-yellow: #F7F7C9;
    --purple-one: #E7D8F9;
    --purple-two: #564171;
    --purple-three: #681FBD;
    --purple-four: #391168;
    --purple-five: #290c4b  
}